@model Models.Request.AddProductRequest;
@{ Layout = null;
                ViewData["Title"] = "Add Product"; }


<!doctype html>
<html>
<head>
    <title>Add Product</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            -webkit-font-smoothing: antialiased;
        }

        body {
            background: #fffff;
            font-family: 'Rubik', sans-serif;
        }

        .login-form {
            background: #fff;
            width: 500px;
            margin: 65px auto;
            display: -webkit-box;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
            border-radius: 4px;
            box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
        }

            .login-form h1 {
                padding: 35px 35px 0 35px;
                font-weight: 300;
            }

            .login-form .content {
                padding: 35px;
                text-align: center;
            }

            .login-form .input-field {
                padding: 12px 5px;
            }

                .login-form .input-field input {
                    font-size: 16px;
                    display: block;
                    font-family: 'Rubik', sans-serif;
                    width: 100%;
                    padding: 10px 1px;
                    border: 0;
                    border-bottom: 1px solid #747474;
                    outline: none;
                    -webkit-transition: all .2s;
                    transition: all .2s;
                }

                .login-form .input-field select {
                    font-size: 16px;
                    display: block;
                    font-family: 'Rubik', sans-serif;
                    width: 100%;
                    padding: 10px 1px;
                    border: 0;
                    border-bottom: 1px solid #747474;
                    outline: none;
                    -webkit-transition: all .2s;
                    transition: all .2s;
                }

                .login-form .input-field input::-webkit-input-placeholder {
                    text-transform: uppercase;
                }

                .login-form .input-field input::-moz-placeholder {
                    text-transform: uppercase;
                }

                .login-form .input-field input:-ms-input-placeholder {
                    text-transform: uppercase;
                }

                .login-form .input-field input::-ms-input-placeholder {
                    text-transform: uppercase;
                }

                .login-form .input-field input::placeholder {
                    text-transform: uppercase;
                }

                .login-form .input-field input:focus {
                    border-color: #222;
                }


            .login-form a.link {
                text-decoration: none;
                color: #747474;
                letter-spacing: 0.2px;
                text-transform: uppercase;
                display: inline-block;
                margin-top: 20px;
            }

            .login-form .action {
                display: -webkit-box;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                flex-direction: row;
            }

                .login-form .action button {
                    width: 100%;
                    border: none;
                    padding: 18px;
                    font-family: 'Rubik', sans-serif;
                    cursor: pointer;
                    text-transform: uppercase;
                    background: #2d3b55;
                    color: #777;
                    border-bottom-left-radius: 4px;
                    border-bottom-right-radius: 0;
                    letter-spacing: 0.2px;
                    outline: 0;
                    -webkit-transition: all .3s;
                    transition: all .3s;
                }

                    .login-form .action button:hover {
                        background: #d8d8d8;
                    }

                    .login-form .action button:nth-child(2) {
                        background: #2d3b55;
                        color: #fff;
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 4px;
                    }

                        .login-form .action button:nth-child(2):hover {
                            background: #3c4d6d;
                        }

        .text-danger {
            color: red;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <div class="login-form">
        <form method="post" action="/Product/UpdateProduct" enctype="multipart/form-data">
            <h1>Add Product</h1>
            <div class="content">

                <div class="input-field">
                    <input type="hidden" asp-for="@Model.productId" placeholder="Product Name" autocomplete="nope">
                    <input type="text" asp-for="@Model.productName" placeholder="Product Name" autocomplete="nope">
                    @*<span class="text-danger error" asp-validation-for="@Model.email">Email required</span>*@
                </div>
                <div class="input-field">
                    <input type="number" asp-for="@Model.price" placeholder="Price" autocomplete="new-password">
                    @*<span class="text-danger error" asp-validation-for="@Model.password">Password required</span>*@
                </div>

                <div class="input-field">
                    <input type="file" name="image" asp-for="@Model.image">
                    @*<span class="text-danger error" asp-validation-for="@Model.password">Password required</span>*@
                </div>

                <div class="input-field">
                    <select class="form-control" asp-for="@Model.catId">
                        @foreach (var item in Model.categories)
                        {
            <option value="@item.catId">@item.catName</option>}
                    </select>
                    @*<span class="text-danger error" asp-validation-for="@Model.password">Password required</span>*@
                </div>

            </div>
            <div class="action">
                <button type="submit" id="submit" value="Sign in" class="btn">Add Product </button>
            </div>
        </form>
    </div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(() => {

        var errorMessage = "@(TempData["ErrorMessage"] as string)";
        var successMessage = "@(TempData["SuccessMessage"] as string)";
        if (errorMessage !== "") toastr.error(errorMessage);
        if (successMessage !== "") toastr.success(successMessage);
    })
</script>

</html>